In [1]:
import sys

sys.path.insert(1, '/Users/od721/Desktop/congestion_pricing/src')

import random_instance
import gurobi_base
import gurobi_base_fixed_variables

import pandas as pd
import numpy as np

In [2]:
my_seed = 10

In [3]:
options = [(2*i, 4*i, i) for i in range(10,41)]

In [4]:
node_ls, arc_ls, com_ls, obj1_ls, obj2_ls = [], [], [], [], []
counter = 0
for opt in options:
    print(counter)
    counter += 1
    n_node, n_arc, n_commodity = opt
    our_instance = random_instance.Instance(n_node, n_arc, n_commodity, my_seed)
    obj_val, _, _ = gurobi_base.optimize_by_gurobi(our_instance,3600, log_output=False)
    obj_val2, _, _ = gurobi_base_fixed_variables.optimize_by_gurobi(our_instance,3600, log_output=False)
    node_ls.append(n_node)
    arc_ls.append(n_arc)
    com_ls.append(n_commodity)
    obj1_ls.append(round(obj_val,2))
    obj2_ls.append(round(obj_val2,2))
df = pd.DataFrame()
df['nNode'] = node_ls
df['nArc'] = arc_ls
df['nCom'] = com_ls
df['Obj1'] = obj1_ls
df['Obj2'] = obj2_ls
df['isEqual'] = df['Obj1'] == df['Obj2']
df

0
Set parameter Username
Academic license - for non-commercial use only - expires 2022-07-12
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

    nNode  nArc  nCom      Obj1      Obj2  isEqual
0      20    40    10  13345.00  13345.00     True
1      22    44    11  14993.34  14993.34     True
2      24    48    12  17247.56  17247.56     True
3      26    52    13  17650.38  17650.38     True
4      28    56    14  20758.93  20758.93     True
5      30    60    15  21082.17  21082.17     True
6      32    64    16  21618.06  21618.06     True
7      34    68    17  26379.62  26379.62     True
8      36    72    18  25748.74  25748.74     True
9      38    76    19  27268.96  27268.96     True
10     40    80    20  30475.22  30475.22     True
11     42    84    21  30857.79  30857.79     True
12     44    88    22  31714.24  31714.24     True
13     46    92    23  31635.26  31635.26     True
14     48    96    24  31049.31  31049.31     True
15     50   100    25  33339.29  33339.29     True
16     52   104    26  39423.03  39423.03     True
17     54   108    27  39496.81  39496.81     True
18     56   112    28  40072.85  40072.85     True
19     58   116    29  40837.35  40837.35     True
20     60   120    30  45373.24  45373.24     True
21     62   124    31  42170.98  42170.98     True
22     64   128    32  44064.48  44064.48     True
23     66   132    33  48112.49  48112.49     True
24     68   136    34  52852.50  52852.50     True
25     70   140    35  53234.62  53234.62     True
26     72   144    36  54202.78  54202.78     True
27     74   148    37  56053.03  56053.03     True
28     76   152    38  56307.85  56307.85     True
29     78   156    39  55961.60  55961.60     True
30     80   160    40  60799.95  60799.95     True